@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.673), rgb(255, 255, 255));
  font-family: 'Ubuntu', sans-serif;
}

/* CABECERA */

header {
  background-color: hsl(0, 0%, 15%);
  color: white;
  padding-top: 2.5rem;
  position: relative;
}

.titulo {
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
}

.icono-de-ayuda {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.tooltip {
  background: white;
  border-radius: 25px;
  color: black;
  font-size: 1rem;
  max-width: 19rem;
  letter-spacing: 1px;
  padding: .75rem 1rem;
  position: absolute;
  top: 6.1rem;
  right: 2.2rem;
  visibility: hidden; 
}

.tooltip::before {
  content: '';
  border: 15px solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  left: 88.25%;
  top: -20%;
  transform: translatex(-30%);
}

.opciones-de-busqueda-wrapper {
  background: gray;
  margin-top: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.opciones-de-busqueda {
  display: flex;
  align-items: center;
  max-width: 81.5rem;
  margin: 0 auto;
  flex-direction: column;
  gap: .5rem;
}

.formulario-de-busqueda {
  width: 100%;
  display: flex;
  position: relative;
}

#barra-de-busqueda {
  border: 3px solid hsl(0, 0%, 15%);
  cursor: pointer;
  padding: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
}

#barra-de-busqueda:focus {
  /* Proporciona un estilo de retroceso para los navegadores que no admiten :focus-visible */
  outline: 3px dotted white;
}

#barra-de-busqueda:focus:not(:focus-visible) {
  /* Elimina el indicador de enfoque en el enfoque del mouse para los navegadores que admiten :focus-visible */
  outline: none;
}

#barra-de-busqueda:focus-visible {
  /* para navegadores que admiten :focus-visible */
  outline: 3px dotted white;
}

.icono-de-busqueda {
  color: hsl(0, 0%, 15%);
  position: absolute;
  right: 1.15rem;
  top: 50%;
  transform: translateY(-50%);
}
.search-btn:hover {
  background: hsla(0, 0%, 15%, .6);
}

.seleccion-de-tipo-de-pokemon {
  width: 17.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.seleccion-de-tipo-de-pokemon label {
  font-size: 1.2rem;
}

#tipos-de-pokemon {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  width: 70%;
}

#tipos-de-pokemon:focus {
  /* Proporciona un estilo de retroceso para los navegadores que no admiten :focus-visible */
  outline: 3px dotted white;
}

#tipos-de-pokemon:focus:not(:focus-visible) {
  /* Elimina el indicador de enfoque en el enfoque del mouse para los navegadores que admiten :focus-visible */
  outline: none;
}

#tipos-de-pokemon:focus-visible {
  /* para navegadores que admiten :focus-visible */
  outline: 3px dotted white;
}

/* CONTENEDOR DE POKÉMON */

#contenedor-de-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 81.5rem;
  margin: 3rem auto;
  gap: 1.5rem;
}

.pokemon {
  background-color: rgba(241, 239, 239, .65);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.35);
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem); 
  border-radius: 15px;
  cursor: pointer;
  width: 15rem;
  height: 20rem;
  padding: 1.5rem;
  text-align: center;
  transform: scale(1);
  transition: all .25s ease-in;
}

.pokemon:hover {
  transform: scale(1.075);
} 

.contenedor-de-imagen {
  background: white;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  margin: 0 auto;
}

.imagen-de-pokemon {
  margin-top: 1rem;
}

.informacion-de-tarjeta {
  padding-top: 1.5rem;
}

.nombre-de-pokemon {
  margin-top: .5rem;
}

.tipo-de-pokemon {
  margin-top: .5rem;
}

/* PIE DE PÁGINA  */

footer {
  background-color: hsl(0, 0%, 15%);
  color: white;
  letter-spacing: 1px;
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
}

.enlaces-sociales {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  font-size: 1.5rem;
  list-style: none;
  padding-bottom: 1.2rem;
}

.enlaces-sociales li a {
  color: white;
}

.enlaces-sociales li a:focus {
  /* Proporciona un estilo de retroceso para los navegadores que no admiten :focus-visible */
  outline: 3px dotted white;
}

.enlaces-sociales li a:focus:not(:focus-visible) {
  /* Elimina el indicador de enfoque en el enfoque del mouse para los navegadores que admiten :focus-visible */
  outline: none;
}

.enlaces-sociales li a:focus-visible {
  /* para navegadores que admiten :focus-visible */
  outline: 3px dotted white;
}

.enlaces-sociales li {
  transform: scale(1);
  transition: all .2s ease-in-out;
}

.enlaces-sociales li:hover {
  transform: scale(1.15);
}

.derechos-de-autor {
  font-size: .9rem;
  opacity: .65;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.subir-pagina {
  color: white;
  display: inline-block;
  font-size: 3rem;
  margin-top: 2rem;
  opacity: .65;
  transform: scale(1);
  transition: all .2s ease;
}

.subir-pagina:hover {
  opacity: 1;
  transform: scale(1.1);
}

.subir-pagina:focus {
  /* Proporciona un estilo de retroceso para los navegadores que no admiten :focus-visible */
  outline: 3px dotted white;
}

.subir-pagina:focus:not(:focus-visible) {
  /* Elimina el indicador de enfoque en el enfoque del mouse para los navegadores que admiten :focus-visible */
  outline: none;
}

.subir-pagina    :focus-visible {
  /* para navegadores que admiten :focus-visible */
  outline: 3px dotted white;
}


@media (min-width: 31.5rem) {
  .opciones-de-busqueda {
    padding-inline: 10%;
  }
}

@media (min-width: 54rem) {

  #barra-de-busqueda,
  .seleccion-de-tipo-de-pokemon {
    width: 32rem;
  }
}

@media (min-width: 64.5rem) {
  .subir-pagina {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
  }

  .opciones-de-busqueda {
    padding-inline: 0;
    flex-direction: row;
    gap: 2rem;
  }
}
