@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); 
  font-family: 'Ubuntu', sans-serif;
}

/* HEADER */

header {
  background-color: hsl(0, 0%, 15%);
  color: white;
  padding-top: 2.5rem;
  position: relative;
}

.title {
  font-size: 2.75rem;
  font-weight: 300;
  text-align: center;
}

.tooltip-icon {
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.tooltip {
  background: white;
  border-radius: 25px;
  color: black;
  font-size: 1rem;
  max-width: 19rem;
  letter-spacing: 1px;
  padding: .75rem 1rem;
  position: absolute;
  top: 6.1rem;
  right: 2.2rem;
  visibility: hidden; 
}

.tooltip::before {
  content: '';
  border: 15px solid;
  border-color: transparent transparent white transparent;
  position: absolute;
  left: 88.25%;
  top: -20%;
  transform: translatex(-30%);
}

.search-options-wrapper {
  background: gray;
  margin-top: 3.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.search-options {
  display: flex;
  align-items: center;
  max-width: 81.5rem;
  margin: 0 auto;
  flex-direction: column;
  gap: .5rem;
}

.search-form {
  width: 100%;
  display: flex;
  position: relative;
}

#searchbar {
  border: 3px solid hsl(0, 0%, 15%);
  cursor: pointer;
  padding: 1rem;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
}

#searchbar:focus {
  /* Provides a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted white;
}

#searchbar:focus:not(:focus-visible) {
  /* Removes the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  outline: none;
}

#searchbar:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted white;
}

.search-icon {
  color: hsl(0, 0%, 15%);
  position: absolute;
  right: 1.15rem;
  top: 50%;
  transform: translateY(-50%);
}
.search-btn:hover {
  background: hsla(0, 0%, 15%, .6);
}

.poke-type-selection {
  width: 17.7rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.poke-type-selection label {
  font-size: 1.2rem;
}

#poke-types {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.2rem;
  padding: .5rem 1rem;
  width: 70%;
}

#poke-types:focus {
  /* Provides a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted white;
}

#poke-types:focus:not(:focus-visible) {
  /* Removes the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  outline: none;
}

#poke-types:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted white;
}

/* POKEMON CONTAINER */

#pokemon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 81.5rem;
  margin: 3rem auto;
  gap: 1.5rem;
}

.pokemon {
  background-color: rgba(241, 239, 239, .65);
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.35);
  backdrop-filter: blur(5rem);
  -webkit-backdrop-filter: blur(5rem); 
  border-radius: 15px;
  cursor: pointer;
  width: 15rem;
  height: 20rem;
  padding: 1.5rem;
  text-align: center;
  transform: scale(1);
  transition: all .25s ease-in;
}

.pokemon:hover {
  transform: scale(1.075);
} 

.card__img-container {
  background: white;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  margin: 0 auto;
}

.poke-img {
  margin-top: 1rem;
}

.card__info {
  padding-top: 1.5rem;
}

.poke-name {
  margin-top: .5rem;
}

.poke-type {
  margin-top: .5rem;
}

/* FOOTER  */

footer {
  background-color: hsl(0, 0%, 15%);
  color: white;
  letter-spacing: 1px;
  padding-top: 4rem;
  padding-bottom: 2rem;
  position: relative;
  text-align: center;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.3rem;
  font-size: 1.5rem;
  list-style: none;
  padding-bottom: 1.2rem;
}

.social-links li a {
  color: white;
}

.social-links li a:focus {
  /* Provides a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted white;
}

.social-links li a:focus:not(:focus-visible) {
  /* Removes the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  outline: none;
}

.social-links li a:focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted white;
}

.social-links li {
  transform: scale(1);
  transition: all .2s ease-in-out;
}

.social-links li:hover {
  transform: scale(1.15);
}

.copyright {
  font-size: .9rem;
  opacity: .65;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.page-up {
  color: white;
  display: inline-block;
  font-size: 3rem;
  margin-top: 2rem;
  opacity: .65;
  transform: scale(1);
  transition: all .2s ease;
}

.page-up:hover {
  opacity: 1;
  transform: scale(1.1);
}

.page-up:focus {
  /* Provides a fallback style for browsers
     that don't support :focus-visible */
  outline: 3px dotted white;
}

.page-up:focus:not(:focus-visible) {
  /* Removes the focus indicator on mouse-focus for browsers
     that do support :focus-visible */
  outline: none;
}

.page-up    :focus-visible {
  /* for browsers that do support :focus-visible */
  outline: 3px dotted white;
}


@media (min-width: 31.5rem) {
  .search-options {
    padding-inline: 10%;
  }
}

@media (min-width: 54rem) {

  #searchbar,
  .poke-type-selection {
    width: 32rem;
  }
}

@media (min-width: 64.5rem) {
  .page-up {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
  }

  .search-options {
    padding-inline: 0;
    flex-direction: row;
    gap: 2rem;
  }
}
